/* line 1, ../scss/_ckeditorstyles.scss */
* {
  font-size: 18px;
  font-family: sans-serif;
}

/* line 6, ../scss/_ckeditorstyles.scss */
body {
  padding: 60px 0;
}

/* line 10, ../scss/_ckeditorstyles.scss */
h1, h2, h3, h4, h5, ul, li, p {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}

/* line 15, ../scss/_ckeditorstyles.scss */
h1 {
  font-size: 45px;
  font-weight: bold;
  margin: 40px auto 30px auto;
}

/* line 20, ../scss/_ckeditorstyles.scss */
h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 25px auto 20px auto;
}

/* line 25, ../scss/_ckeditorstyles.scss */
b, strong {
  font-weight: bold;
}

/* line 28, ../scss/_ckeditorstyles.scss */
p {
  margin: 0 auto 20px auto;
  line-height: 24px;
}

/* line 32, ../scss/_ckeditorstyles.scss */
a {
  text-decoration: none;
  color: #3aa2ff;
}
