/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
/* line 5, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 26, ../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 33, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 39, ../scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 3, ../scss/_layout.scss */
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../scss/_layout.scss */
html {
  height: 100%;
}

/* line 11, ../scss/_layout.scss */
body {
  height: 100%;
  font-family: sans-serif;
  font-size: 18px;
}

/* line 17, ../scss/_layout.scss */
#editor {
  height: 100%;
  width: 100%;
}
/* line 20, ../scss/_layout.scss */
#editor header {
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background: #FAFAFA;
  padding: 0 274px 0 300px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 30, ../scss/_layout.scss */
#editor header nav {
  display: block;
  width: 100%;
}
/* line 34, ../scss/_layout.scss */
#editor header nav ul li {
  display: block;
  float: left;
}
/* line 37, ../scss/_layout.scss */
#editor header nav ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  height: 60px;
  line-height: 60px;
  padding: 0 40px;
  color: #000000;
  -moz-transition: border 0.2s;
  -o-transition: border 0.2s;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}
/* line 46, ../scss/_layout.scss */
#editor header nav ul li a:hover {
  border-bottom: 4px solid #3aa2ff;
}
/* line 51, ../scss/_layout.scss */
#editor header nav ul:after {
  content: "";
  display: block;
  clear: both;
  float: none;
}
/* line 56, ../scss/_layout.scss */
#editor header .actions.left {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 59px;
}
/* line 62, ../scss/_layout.scss */
#editor header .actions.left a {
  display: block;
  width: 184px;
  height: 59px;
  float: left;
  border-right: 1px solid #DDDDDD;
  line-height: 59px;
  padding: 0 20px;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
}
/* line 74, ../scss/_layout.scss */
#editor header .actions.left a:hover {
  background: #FFFFFF;
}
/* line 78, ../scss/_layout.scss */
#editor header .actions.left .abort {
  width: 116px;
  padding: 0 20px 0 44px;
  position: relative;
}
/* line 82, ../scss/_layout.scss */
#editor header .actions.left .abort:before, #editor header .actions.left .abort:after {
  content: "";
  display: block;
  position: absolute;
  top: 28px;
  left: 20px;
  width: 16px;
  height: 2px;
  background: #555555;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 93, ../scss/_layout.scss */
#editor header .actions.left .abort:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 97, ../scss/_layout.scss */
#editor header .actions.left:after {
  content: "";
  display: block;
  clear: both;
  float: none;
}
/* line 101, ../scss/_layout.scss */
#editor header .actions.right {
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 20px;
}
/* line 107, ../scss/_layout.scss */
#editor header .actions.right button, #editor header .actions.right a {
  display: block;
  text-decoration: none;
  line-height: 38px;
  height: 40px;
  padding: 0 30px;
  float: right;
  -webkit-appearance: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 14px;
  border: 1px solid rgba(0, 84, 160, 0.3);
  background: #3aa2ff;
  color: #FFFFFF;
  cursor: pointer;
  margin: 0 0 0 10px;
}
/* line 124, ../scss/_layout.scss */
#editor header .actions.right button:focus, #editor header .actions.right a:focus {
  outline: none;
}
/* line 127, ../scss/_layout.scss */
#editor header .actions.right button:hover, #editor header .actions.right a:hover {
  background: #54aeff;
}
/* line 130, ../scss/_layout.scss */
#editor header .actions.right button:active, #editor header .actions.right a:active {
  background: #2196ff;
}
/* line 134, ../scss/_layout.scss */
#editor header .actions.right .passive {
  border: 1px solid rgba(77, 77, 77, 0.3);
  background: #FAFAFA;
  color: #000000;
  margin: 0;
}
/* line 139, ../scss/_layout.scss */
#editor header .actions.right .passive:hover {
  background: #FFFFFF;
}
/* line 142, ../scss/_layout.scss */
#editor header .actions.right .passive:active {
  background: #f2f2f2;
}
/* line 147, ../scss/_layout.scss */
#editor header h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  font-weight: bold;
}
/* line 156, ../scss/_layout.scss */
#editor header.detail {
  padding: 0 0 0 300px;
}
/* line 158, ../scss/_layout.scss */
#editor header.detail h1 {
  padding: 0 20px;
}
/* line 162, ../scss/_layout.scss */
#editor header.header_list {
  padding: 0 320px 0 0;
}
/* line 167, ../scss/_layout.scss */
#editor aside {
  width: 300px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 90;
  padding: 60px 0 244px 0;
  background: #FFFFFF;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 177, ../scss/_layout.scss */
#editor aside ul.stops {
  display: block;
  height: 100%;
  overflow: auto;
}
/* line 181, ../scss/_layout.scss */
#editor aside ul.stops li.stops_element {
  margin: 30px 0 0 0;
  position: relative;
}
/* line 184, ../scss/_layout.scss */
#editor aside ul.stops li.stops_element ul {
  display: block;
  position: absolute;
  top: -30px;
  left: 40px;
}
/* line 189, ../scss/_layout.scss */
#editor aside ul.stops li.stops_element ul li {
  display: block;
  height: 30px;
  width: 14px;
  margin: 0 5px 0 0;
  float: left;
  color: #999999;
  font-size: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 201, ../scss/_layout.scss */
#editor aside ul.stops li.stops_element ul li.train {
  background-image: url('/static/img/icons/train_dark.png?1435870397');
}
/* line 204, ../scss/_layout.scss */
#editor aside ul.stops li.stops_element ul li.bus {
  background-image: url('/static/img/icons/bus_dark.png?1435870397');
}
/* line 207, ../scss/_layout.scss */
#editor aside ul.stops li.stops_element ul li.boat {
  background-image: url('/static/img/icons/boat_dark.png?1435870397');
}
/* line 211, ../scss/_layout.scss */
#editor aside ul.stops li.stops_element ul:after {
  content: "";
  display: block;
  clear: both;
  float: none;
}
/* line 215, ../scss/_layout.scss */
#editor aside ul.stops li.stops_element a {
  display: block;
  width: 100%;
  height: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  padding: 0 20px 0 60px;
  line-height: 60px;
  color: #000000;
}
/* line 226, ../scss/_layout.scss */
#editor aside ul.stops li.stops_element a:hover {
  background: rgba(0, 0, 0, 0.05);
}
/* line 230, ../scss/_layout.scss */
#editor aside ul.stops li.stops_element:first-child {
  margin: 0;
}
/* line 232, ../scss/_layout.scss */
#editor aside ul.stops li.stops_element:first-child:before {
  display: none;
}
/* line 236, ../scss/_layout.scss */
#editor aside ul.stops li.stops_element:before {
  content: "";
  width: 2px;
  height: 70px;
  position: absolute;
  top: -50px;
  left: 29px;
  background: rgba(0, 0, 0, 0.2);
}
/* line 245, ../scss/_layout.scss */
#editor aside ul.stops li.stops_element:after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  top: 20px;
  left: 20px;
  border: 1px solid #3aa2ff;
}
/* line 255, ../scss/_layout.scss */
#editor aside ul.stops li.stops_element.active {
  background: #222832;
}
/* line 257, ../scss/_layout.scss */
#editor aside ul.stops li.stops_element.active a {
  color: #FFFFFF;
}
/* line 263, ../scss/_layout.scss */
#editor aside form {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 244px;
  padding: 20px;
  background: #FAFAFA;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 273, ../scss/_layout.scss */
#editor aside form label.title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 0 15px 0;
  color: #555555;
}
/* line 280, ../scss/_layout.scss */
#editor aside form input[type="text"] {
  display: block;
  width: 100%;
  height: 40px;
  font-family: sans-serif;
  font-size: 18px;
  text-indent: 10px;
  margin: 0 0 20px 0;
  font-weight: bold;
  border: 1px solid #999999;
  background: #FFFFFF;
}
/* line 291, ../scss/_layout.scss */
#editor aside form input[type="text"].error {
  border: 1px solid #FF6666;
}
/* line 294, ../scss/_layout.scss */
#editor aside form input[type="text"]:focus {
  outline: none;
  border: 1px solid #3aa2ff;
}
/* line 299, ../scss/_layout.scss */
#editor aside form fieldset {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 0;
  margin: 0 0 30px 0;
}
/* line 305, ../scss/_layout.scss */
#editor aside form fieldset ul {
  display: inline-block;
}
/* line 307, ../scss/_layout.scss */
#editor aside form fieldset ul li {
  display: block;
  float: left;
  margin: 0 0 0 20px;
}
/* line 311, ../scss/_layout.scss */
#editor aside form fieldset ul li label {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  line-height: 40px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}
/* line 321, ../scss/_layout.scss */
#editor aside form fieldset ul li label.train {
  background-image: url('/static/img/icons/train_dark.png?1435870397');
}
/* line 324, ../scss/_layout.scss */
#editor aside form fieldset ul li label.bus {
  background-image: url('/static/img/icons/bus_dark.png?1435870397');
}
/* line 327, ../scss/_layout.scss */
#editor aside form fieldset ul li label.boat {
  background-image: url('/static/img/icons/boat_dark.png?1435870397');
}
/* line 331, ../scss/_layout.scss */
#editor aside form fieldset ul li input:checked + label {
  background-color: #222832;
  border: 1px solid #000000;
  color: #FFFFFF;
}
/* line 335, ../scss/_layout.scss */
#editor aside form fieldset ul li input:checked + label.train {
  background-image: url('/static/img/icons/train.png?1435870397');
}
/* line 338, ../scss/_layout.scss */
#editor aside form fieldset ul li input:checked + label.bus {
  background-image: url('/static/img/icons/bus.png?1435870397');
}
/* line 341, ../scss/_layout.scss */
#editor aside form fieldset ul li input:checked + label.boat {
  background-image: url('/static/img/icons/boat.png?1435870397');
}
/* line 345, ../scss/_layout.scss */
#editor aside form fieldset ul li input {
  display: none;
}
/* line 348, ../scss/_layout.scss */
#editor aside form fieldset ul li:first-child {
  margin: 0;
}
/* line 352, ../scss/_layout.scss */
#editor aside form fieldset ul:after {
  content: "";
  display: block;
  clear: both;
  float: none;
}
/* line 359, ../scss/_layout.scss */
#editor aside form fieldset.error ul li label {
  border: 1px solid #FF6666;
}
/* line 366, ../scss/_layout.scss */
#editor aside form button {
  display: block;
  height: 40px;
  padding: 0 30px;
  float: right;
  -webkit-appearance: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 14px;
  border: 1px solid rgba(0, 84, 160, 0.3);
  background: #3aa2ff;
  color: #FFFFFF;
  cursor: pointer;
}
/* line 380, ../scss/_layout.scss */
#editor aside form button:focus {
  outline: none;
}
/* line 383, ../scss/_layout.scss */
#editor aside form button:hover {
  background: #54aeff;
}
/* line 386, ../scss/_layout.scss */
#editor aside form button:active {
  background: #2196ff;
}
/* line 390, ../scss/_layout.scss */
#editor aside form:after {
  content: "";
  display: block;
  clear: both;
  float: none;
}
/* line 394, ../scss/_layout.scss */
#editor aside.detail {
  padding: 60px 0 0 0;
}
/* line 399, ../scss/_layout.scss */
#editor .update {
  padding: 59px 0 0 299px;
  width: 100%;
  height: 100%;
}
/* line 403, ../scss/_layout.scss */
#editor .update form {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 408, ../scss/_layout.scss */
#editor .update form #id_name, #editor .update form #id_types, #editor .update form #id_published {
  display: none;
}
/* line 414, ../scss/_layout.scss */
#editor .list {
  padding: 60px 0 0 0;
  width: 100%;
  height: 100%;
}
/* line 418, ../scss/_layout.scss */
#editor .list .list_frame {
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
}
/* line 423, ../scss/_layout.scss */
#editor .list .list_frame .intro_header {
  width: 100%;
  background-image: url('/static/img/venedig.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 100px 0;
  background-color: #555555;
}
/* line 432, ../scss/_layout.scss */
#editor .list .list_frame .intro_header a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  max-width: 400px;
  width: 80%;
  border: 1px solid #FFFFFF;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 2px;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
/* line 443, ../scss/_layout.scss */
#editor .list .list_frame .intro_header a:hover {
  background: rgba(255, 255, 255, 0.2);
}
/* line 448, ../scss/_layout.scss */
#editor .list .list_frame ul.list_journeys {
  padding: 100px 0;
}
/* line 450, ../scss/_layout.scss */
#editor .list .list_frame ul.list_journeys li.list_journeys_item {
  width: 80%;
  max-width: 700px;
  margin: 0 auto 60px auto;
}
/* line 454, ../scss/_layout.scss */
#editor .list .list_frame ul.list_journeys li.list_journeys_item a {
  text-decoration: none;
  color: #000000;
}
/* line 457, ../scss/_layout.scss */
#editor .list .list_frame ul.list_journeys li.list_journeys_item a h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 462, ../scss/_layout.scss */
#editor .list .list_frame ul.list_journeys li.list_journeys_item a p {
  line-height: 22px;
  margin-bottom: 20px;
}
/* line 466, ../scss/_layout.scss */
#editor .list .list_frame ul.list_journeys li.list_journeys_item a ul {
  color: #555555;
}
/* line 468, ../scss/_layout.scss */
#editor .list .list_frame ul.list_journeys li.list_journeys_item a ul li {
  display: inline-block;
  float: left;
  margin: 0 0 0 10px;
  line-height: 24px;
}
/* line 473, ../scss/_layout.scss */
#editor .list .list_frame ul.list_journeys li.list_journeys_item a ul li:before {
  content: "/";
  margin: 0 10px 0 0;
}
/* line 477, ../scss/_layout.scss */
#editor .list .list_frame ul.list_journeys li.list_journeys_item a ul li:first-child {
  margin: 0;
}
/* line 479, ../scss/_layout.scss */
#editor .list .list_frame ul.list_journeys li.list_journeys_item a ul li:first-child:before {
  display: none;
}
/* line 484, ../scss/_layout.scss */
#editor .list .list_frame ul.list_journeys li.list_journeys_item a ul:after {
  content: "";
  display: block;
  clear: both;
  float: none;
}

/* line 496, ../scss/_layout.scss */
.django-ckeditor-widget {
  width: 100%;
  height: 100%;
  display: block !important;
}
/* line 500, ../scss/_layout.scss */
.django-ckeditor-widget textarea {
  display: block;
  width: 100%;
  height: 0;
  border: none;
}
/* line 506, ../scss/_layout.scss */
.django-ckeditor-widget #cke_id_content {
  width: 100% !important;
  height: 100%;
}
/* line 509, ../scss/_layout.scss */
.django-ckeditor-widget #cke_id_content .cke_inner {
  height: 100%;
  position: relative;
}
/* line 512, ../scss/_layout.scss */
.django-ckeditor-widget #cke_id_content .cke_inner #cke_1_top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
/* line 518, ../scss/_layout.scss */
.django-ckeditor-widget #cke_id_content .cke_inner #cke_1_contents {
  width: 100%;
  height: 100% !important;
  padding: 42px 0 27px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 524, ../scss/_layout.scss */
.django-ckeditor-widget #cke_id_content .cke_inner #cke_1_bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* line 534, ../scss/_layout.scss */
.content_container {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 60px 0;
}
/* line 1, ../scss/_ckeditorstyles.scss */
.content_container * {
  font-size: 18px;
  font-family: sans-serif;
}
/* line 6, ../scss/_ckeditorstyles.scss */
.content_container body {
  padding: 60px 0;
}
/* line 10, ../scss/_ckeditorstyles.scss */
.content_container h1, .content_container h2, .content_container h3, .content_container h4, .content_container h5, .content_container ul, .content_container li, .content_container p {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}
/* line 15, ../scss/_ckeditorstyles.scss */
.content_container h1 {
  font-size: 45px;
  font-weight: bold;
  margin: 40px auto 30px auto;
}
/* line 20, ../scss/_ckeditorstyles.scss */
.content_container h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 25px auto 20px auto;
}
/* line 25, ../scss/_ckeditorstyles.scss */
.content_container b, .content_container strong {
  font-weight: bold;
}
/* line 28, ../scss/_ckeditorstyles.scss */
.content_container p {
  margin: 0 auto 20px auto;
  line-height: 24px;
}
/* line 32, ../scss/_ckeditorstyles.scss */
.content_container a {
  text-decoration: none;
  color: #3aa2ff;
}

/* line 543, ../scss/_layout.scss */
#create form {
  width: 80%;
  max-width: 700px;
  margin: 100px auto;
}
/* line 547, ../scss/_layout.scss */
#create form h1 {
  font-size: 60px;
  margin: 0 0 50px 0;
}
/* line 551, ../scss/_layout.scss */
#create form label {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 0 15px 0;
  color: #555555;
}
/* line 558, ../scss/_layout.scss */
#create form input[type="text"], #create form textarea {
  display: block;
  width: 100%;
  height: 40px;
  font-family: sans-serif;
  font-size: 18px;
  text-indent: 10px;
  margin: 0 0 20px 0;
  border: 1px solid #999999;
  background: #FFFFFF;
}
/* line 568, ../scss/_layout.scss */
#create form input[type="text"].error, #create form textarea.error {
  border: 1px solid #FF6666;
}
/* line 571, ../scss/_layout.scss */
#create form input[type="text"]:focus, #create form textarea:focus {
  outline: none;
  border: 1px solid #3aa2ff;
}
/* line 576, ../scss/_layout.scss */
#create form textarea {
  height: 300px;
  padding: 10px;
  text-indent: 0px;
}
/* line 581, ../scss/_layout.scss */
#create form button {
  display: block;
  height: 40px;
  padding: 0 30px;
  float: right;
  -webkit-appearance: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 14px;
  border: 1px solid rgba(0, 84, 160, 0.3);
  background: #3aa2ff;
  color: #FFFFFF;
  cursor: pointer;
}
/* line 595, ../scss/_layout.scss */
#create form button:focus {
  outline: none;
}
/* line 598, ../scss/_layout.scss */
#create form button:hover {
  background: #54aeff;
}
/* line 601, ../scss/_layout.scss */
#create form button:active {
  background: #2196ff;
}
