{% load static i18n %}
<!DOCTYPE html>
<html class="journey_blog">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% trans "Interrail - Journey Blog" %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
        <meta name="description" content="A Blog for your Interrail Journey" />
        <meta name="keywords" content="Interrail, Journey, Blog" />
        <meta name="robots" content="noindex, nofollow">
        <link rel="stylesheet" href="{% static "css/journey_blog.css" %}" />
    </head>
    <body>
        {% block content %}

        {% endblock %}
        <script src="{% static "js/libs/jquery.min.js" %}"></script>
        <script src="{% static "js/journey_blog.js" %}"></script>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    </body>
</html>