{% load i18n %}
<nav>
    <ul>
        <li>
            <a href="{% url "about" %}">{% trans "About" %}</a>
        </li>
        <li>
            <a href="{% url "tips_tricks" %}">{% trans "Tips & Tricks" %}</a>
        </li>
        <li>
            <a href="{% url "experience" %}">{% trans "Experience" %}</a>
        </li>
        <li>
            <a href="{% url "journey_list" %}">{% trans "Journeys" %}</a>
        </li>
    </ul>
</nav>