* {
    font-size: $default_font_size;
    font-family: $default_font_family;
}

body {
    padding: 60px 0;
}

h1, h2, h3, h4, h5, ul, li, p {
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
}
h1 {
    font-size: 45px;
    font-weight: bold;
    margin: 40px auto 30px auto;
}
h2 {
    font-size: 28px;
    font-weight: bold;
    margin: 25px auto 20px auto;
}
b, strong {
    font-weight: bold;
}
p {
    margin: 0 auto 20px auto;
    line-height: 24px;
}
a {
    text-decoration: none;
    color: $interrail_primary;
}