$default_font_family:   sans-serif;
$default_font_size:     18px;

$dark_blue:             #222832;
$interrail_primary:     #3aa2ff;
$red:                   #FF6666;

$white:                 #FFFFFF;
$dark_white:            #FAFAFA;
$light_gray:            #DDDDDD;
$gray:                  #999999;
$dark_gray:             #555555;
$black:                 #000000;

@mixin clear() {
    content: "";
    display: block;
    clear: both;
    float: none;
}