@import "compass/css3";

*, *:after, *:before {
	@include box-sizing(border-box);
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: $default_font_family;
    font-size: $default_font_size;
}

#editor {
    height: 100%;
    width: 100%;
    header {
        width: 100%;
        height: 60px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        background: $dark_white;
        padding: 0 274px 0 300px;
        border-bottom: 1px solid rgba($black, 0.2);
        nav {
            display: block;
            width: 100%;
            ul {
                li {
                    display: block;
                    float: left;
                    a {
                        display: block;
                        text-decoration: none;
                        text-align: center;
                        height: 60px;
                        line-height: 60px;
                        padding: 0 40px;
                        color: $black;
                        @include transition(border 0.2s);
                        &:hover {
                            border-bottom: 4px solid $interrail_primary;
                        }
                    }
                }
                &:after {
                    @include clear();
                }
            }
        }
        .actions.left {
            position: absolute;
            top: 0;
            left: 0;
            width: 300px;
            height: 59px;
            a {
                display: block;
                width: 184px;
                height: 59px;
                float: left;
                border-right: 1px solid $light_gray;
                line-height: 59px;
                padding: 0 20px;
                text-decoration: none;
                color: $black;
                font-size: 14px;
                text-transform: uppercase;
                &:hover {
                    background: $white;
                }
            }
            .abort {
                width: 116px;
                padding: 0 20px 0 44px;
                position: relative;
                &:before, &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 28px;
                    left: 20px;
                    width: 16px;
                    height: 2px;
                    background: $dark_gray;
                    @include transform(rotate(45deg));
                }
                &:after {
                    @include transform(rotate(-45deg));
                }
            }
            &:after {
                @include clear();
            }
        }
        .actions.right {
            height: 60px;
            position: absolute;
            right: 0;
            top: 0;
            padding: 10px 20px;
            button, a {
                display: block;
                text-decoration: none;
                line-height: 38px;
                height: 40px;
                padding: 0 30px;
                float: right;
                -webkit-appearance: none;
                border-radius: 4px;
                text-transform: uppercase;
                font-family: $default_font_family;
                font-size: 14px;
                border: 1px solid rgba(darken($interrail_primary, 30%), 0.3);
                background: $interrail_primary;
                color: $white;
                cursor: pointer;
                margin: 0 0 0 10px;
                &:focus {
                    outline: none;
                }
                &:hover {
                    background: lighten($interrail_primary, 5%);
                }
                &:active {
                    background: darken($interrail_primary, 5%);
                }
            }
            .passive {
                border: 1px solid rgba(darken($gray, 30%), 0.3);
                background: $dark_white;
                color: $black;
                margin: 0;
                &:hover {
                    background: $white;
                }
                &:active {
                    background: darken($white, 5%);
                }
            }
        }
        h1 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 60px;
            line-height: 60px;
            padding-left: 20px;
            font-weight: bold;
        }
        &.detail {
            padding: 0 0 0 300px;
            h1 {
                padding: 0 20px;
            }
        }
        &.header_list {
            padding: 0 320px 0 0;
        }
    }

    aside {
        width: 300px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 90;
        padding: 60px 0 244px 0;
        background: $white;
        border-right: 1px solid rgba($black, 0.2);
        ul.stops {
            display: block;
            height: 100%;
            overflow: auto;
            li.stops_element {
                margin: 30px 0 0 0;
                position: relative;
                ul {
                    display: block;
                    position: absolute;
                    top: -30px;
                    left: 40px;
                    li {
                        display: block;
                        height: 30px;
                        width: 14px;
                        margin: 0 5px 0 0;
                        float: left;
                        color: $gray;
                        font-size: 0;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 14px;
                        @include opacity(0.6);
                        &.train {
                            background-image: image_url("icons/train_dark.png");
                        }
                        &.bus {
                            background-image: image_url("icons/bus_dark.png");
                        }
                        &.boat {
                            background-image: image_url("icons/boat_dark.png");
                        }
                    }
                    &:after {
                        @include clear();
                    }
                }
                a {
                    display: block;
                    width: 100%;
                    height: 60px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-decoration: none;
                    padding: 0 20px 0 60px;
                    line-height: 60px;
                    color: $black;
                    &:hover {
                        background: rgba($black, 0.05);
                    }
                }
                &:first-child {
                    margin: 0;
                    &:before {
                        display: none;
                    }
                }
                &:before {
                    content: "";
                    width: 2px;
                    height: 70px;
                    position: absolute;
                    top: -50px;
                    left: 29px;
                    background: rgba($black, 0.2);
                }
                &:after {
                    content: "";
                    width: 20px;
                    height: 20px;
                    border-radius: 10px;
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    border: 1px solid $interrail_primary;
                }
                &.active {
                    background: $dark_blue;
                    a {
                        color: $white;
                    }
                }
            }
        }
        form {
            display: block;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 244px;
            padding: 20px;
            background: $dark_white;
            border-top: 1px solid rgba($black, 0.2);
            label.title {
                display: inline-block;
                text-transform: uppercase;
                font-size: 14px;
                margin: 0 0 15px 0;
                color: $dark_gray;
            }
            input[type="text"] {
                display: block;
                width: 100%;
                height: 40px;
                font-family: $default_font_family;
                font-size: $default-font-size;
                text-indent: 10px;
                margin: 0 0 20px 0;
                font-weight: bold;
                border: 1px solid $gray;
                background: $white;
                &.error {
                    border: 1px solid $red;
                }
                &:focus {
                    outline: none;
                    border: 1px solid $interrail_primary;
                }
            }
            fieldset {
                display: block;
                width: 100%;
                text-align: center;
                font-size: 0;
                margin: 0 0 30px 0;
                ul {
                    display: inline-block;
                    li {
                        display: block;
                        float: left;
                        margin: 0 0 0 20px;
                        label {
                            display: block;
                            width: 40px;
                            height: 40px;
                            border-radius: 20px;
                            line-height: 40px;
                            cursor: pointer;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: 20px;
                            &.train {
                                background-image: image_url("icons/train_dark.png");
                            }
                            &.bus {
                                background-image: image_url("icons/bus_dark.png");
                            }
                            &.boat {
                                background-image: image_url("icons/boat_dark.png");
                            }
                        }
                        input:checked + label {
                            background-color: $dark_blue;
                            border: 1px solid $black;
                            color: $white;
                            &.train {
                                background-image: image_url("icons/train.png");
                            }
                            &.bus {
                                background-image: image_url("icons/bus.png");
                            }
                            &.boat {
                                background-image: image_url("icons/boat.png");
                            }
                        }
                        input {
                            display: none;
                        }
                        &:first-child {
                            margin: 0;
                        }
                    }
                    &:after {
                        @include clear();
                    }
                }
                &.error {
                    ul {
                        li {
                            label {
                                border: 1px solid $red;
                            }
                        }
                    }
                }
            }
            button {
                display: block;
                height: 40px;
                padding: 0 30px;
                float: right;
                -webkit-appearance: none;
                border-radius: 4px;
                text-transform: uppercase;
                font-family: $default_font_family;
                font-size: 14px;
                border: 1px solid rgba(darken($interrail_primary, 30%), 0.3);
                background: $interrail_primary;
                color: $white;
                cursor: pointer;
                &:focus {
                    outline: none;
                }
                &:hover {
                    background: lighten($interrail_primary, 5%);
                }
                &:active {
                    background: darken($interrail_primary, 5%);
                }
            }
            &:after {
                @include clear();
            }
        }
        &.detail {
            padding: 60px 0 0 0;
        }
    }

    .update {
        padding: 59px 0 0 299px;
        width: 100%;
        height: 100%;
        form {
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;
            #id_name, #id_types, #id_published {
                display: none;
            }
        }
    }

    .list {
        padding: 60px 0 0 0;
        width: 100%;
        height: 100%;
        .list_frame {
            display: block;
            width: 100%;
            height: 100%;
            overflow: auto;
            .intro_header {
                width: 100%;
                background-image: image_url("venedig.jpg");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                text-align: center;
                padding: 100px 0;
                background-color: $dark_gray;
                a {
                    display: inline-block;
                    height: 40px;
                    line-height: 40px;
                    max-width: 400px;
                    width: 80%;
                    border: 1px solid $white;
                    text-decoration: none;
                    color: $white;
                    border-radius: 2px;
                    @include transition(background 0.5s);
                    &:hover {
                        background: rgba($white, 0.2);
                    }
                }
            }
            ul.list_journeys {
                padding: 100px 0;
                li.list_journeys_item {
                    width: 80%;
                    max-width: 700px;
                    margin: 0 auto 60px auto;
                    a {
                        text-decoration: none;
                        color: $black;
                        h2 {
                            font-size: 40px;
                            font-weight: bold;
                            margin-bottom: 20px;
                        }
                        p {
                            line-height: 22px;
                            margin-bottom: 20px;
                        }
                        ul {
                            color: $dark_gray;
                            li {
                                display: inline-block;
                                float: left;
                                margin: 0 0 0 10px;
                                line-height: 24px;
                                &:before {
                                    content: "/";
                                    margin: 0 10px 0 0;
                                }
                                &:first-child {
                                    margin: 0;
                                    &:before {
                                        display: none;
                                    }
                                }
                            }
                            &:after {
                                @include clear();
                            }

                        }
                    }
                }
            }
        }
    }
}

.django-ckeditor-widget {
    width: 100%;
    height: 100%;
    display: block !important;
    textarea {
        display: block;
        width: 100%;
        height: 0;
        border: none;
    }
    #cke_id_content {
        width: 100% !important;
        height: 100%;
        .cke_inner {
            height: 100%;
            position: relative;
            #cke_1_top {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
            }
            #cke_1_contents {
                width: 100%;
                height: 100% !important;
                padding: 42px 0 27px 0;
                @include box-sizing(border-box);
            }
            #cke_1_bottom {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
            }
        }
    }
}

.content_container {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 60px 0;
    @import "ckeditorstyles";
}

#create {
    form {
        width: 80%;
        max-width: 700px;
        margin: 100px auto;
        h1 {
            font-size: 60px;
            margin: 0 0 50px 0;
        }
        label {
            display: inline-block;
            text-transform: uppercase;
            font-size: 14px;
            margin: 0 0 15px 0;
            color: $dark_gray;
        }
        input[type="text"], textarea {
            display: block;
            width: 100%;
            height: 40px;
            font-family: $default_font_family;
            font-size: $default-font-size;
            text-indent: 10px;
            margin: 0 0 20px 0;
            border: 1px solid $gray;
            background: $white;
            &.error {
                border: 1px solid $red;
            }
            &:focus {
                outline: none;
                border: 1px solid $interrail_primary;
            }
        }
        textarea {
            height: 300px;
            padding: 10px;
            text-indent: 0px;
        }
        button {
            display: block;
            height: 40px;
            padding: 0 30px;
            float: right;
            -webkit-appearance: none;
            border-radius: 4px;
            text-transform: uppercase;
            font-family: $default_font_family;
            font-size: 14px;
            border: 1px solid rgba(darken($interrail_primary, 30%), 0.3);
            background: $interrail_primary;
            color: $white;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            &:hover {
                background: lighten($interrail_primary, 5%);
            }
            &:active {
                background: darken($interrail_primary, 5%);
            }
        }
    }
}