@charset "UTF-8";
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
/* line 5, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 26, ../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 33, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 39, ../scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 3, ../scss/_layout.scss */
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../scss/_layout.scss */
html {
  height: 100%;
}

/* line 11, ../scss/_layout.scss */
body {
  font-family: sans-serif;
  font-size: 18px;
  height: 100%;
}
/* line 15, ../scss/_layout.scss */
body .container {
  margin: 0 auto 80px auto;
  width: 80%;
  max-width: 800px;
}
/* line 20, ../scss/_layout.scss */
body h1 {
  font-size: 60px;
  line-height: 74px;
  margin: 0 0 30px 0;
}
/* line 25, ../scss/_layout.scss */
body h2 {
  font-size: 28px;
  line-height: 34px;
  margin: 0 0 10px 0;
}
/* line 30, ../scss/_layout.scss */
body p {
  margin: 0 0 20px 0;
  line-height: 20px;
  position: relative;
}

/* line 37, ../scss/_layout.scss */
header {
  width: 100%;
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 900;
  background: #FAFAFA;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 46, ../scss/_layout.scss */
header nav {
  display: block;
  width: 100%;
}
/* line 50, ../scss/_layout.scss */
header nav ul li {
  display: block;
  float: left;
}
/* line 53, ../scss/_layout.scss */
header nav ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  height: 60px;
  line-height: 60px;
  padding: 0 40px;
  color: #000000;
  -moz-transition: border 0.2s;
  -o-transition: border 0.2s;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}
/* line 62, ../scss/_layout.scss */
header nav ul li a:hover {
  border-bottom: 4px solid #3aa2ff;
}
/* line 67, ../scss/_layout.scss */
header nav ul:after {
  content: "";
  display: block;
  clear: both;
  float: none;
}
/* line 72, ../scss/_layout.scss */
header .actions.left {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 59px;
}
/* line 78, ../scss/_layout.scss */
header .actions.left a {
  display: block;
  width: 184px;
  height: 59px;
  float: left;
  border-right: 1px solid #DDDDDD;
  line-height: 59px;
  padding: 0 20px;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
}
/* line 90, ../scss/_layout.scss */
header .actions.left a:hover {
  background: #FFFFFF;
}
/* line 94, ../scss/_layout.scss */
header .actions.left .abort {
  width: 116px;
  padding: 0 20px 0 44px;
  position: relative;
}
/* line 98, ../scss/_layout.scss */
header .actions.left .abort:before, header .actions.left .abort:after {
  content: "";
  display: block;
  position: absolute;
  top: 28px;
  left: 20px;
  width: 16px;
  height: 2px;
  background: #555555;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 109, ../scss/_layout.scss */
header .actions.left .abort:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 113, ../scss/_layout.scss */
header .actions.left:after {
  content: "";
  display: block;
  clear: both;
  float: none;
}
/* line 117, ../scss/_layout.scss */
header .actions.right {
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 20px;
}
/* line 123, ../scss/_layout.scss */
header .actions.right button, header .actions.right a {
  display: block;
  text-decoration: none;
  line-height: 38px;
  height: 40px;
  padding: 0 30px;
  float: right;
  -webkit-appearance: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 14px;
  border: 1px solid rgba(0, 84, 160, 0.3);
  background: #3aa2ff;
  color: #FFFFFF;
  cursor: pointer;
  margin: 0 0 0 10px;
}
/* line 140, ../scss/_layout.scss */
header .actions.right button:focus, header .actions.right a:focus {
  outline: none;
}
/* line 143, ../scss/_layout.scss */
header .actions.right button:hover, header .actions.right a:hover {
  background: #54aeff;
}
/* line 146, ../scss/_layout.scss */
header .actions.right button:active, header .actions.right a:active {
  background: #2196ff;
}
/* line 150, ../scss/_layout.scss */
header .actions.right .passive {
  border: 1px solid rgba(77, 77, 77, 0.3);
  background: #FAFAFA;
  color: #000000;
  margin: 0;
}
/* line 155, ../scss/_layout.scss */
header .actions.right .passive:hover {
  background: #FFFFFF;
}
/* line 158, ../scss/_layout.scss */
header .actions.right .passive:active {
  background: #f2f2f2;
}
/* line 163, ../scss/_layout.scss */
header h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  font-weight: bold;
}
/* line 172, ../scss/_layout.scss */
header.detail {
  padding: 0 0 0 300px;
}
/* line 174, ../scss/_layout.scss */
header.detail h1 {
  padding: 0 20px;
}
/* line 178, ../scss/_layout.scss */
header.header_list {
  padding: 0 320px 0 0;
}

/* line 183, ../scss/_layout.scss */
.content {
  margin: 160px 0;
}

/* line 188, ../scss/_layout.scss */
.container.tips .tips_tip {
  width: 100%;
  position: relative;
  padding: 0 200px 0 0;
  margin: 0 0 50px 0;
}
/* line 193, ../scss/_layout.scss */
.container.tips .tips_tip h2 {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 180px;
  text-align: right;
  color: #999999;
}

/* line 205, ../scss/_layout.scss */
.frame_quotes {
  background: url('/static/img/train.jpg?1435527332');
  background-size: cover;
  background-position: center;
  padding: 100px 0 40px 0;
  margin: 140px 0 100px 0;
}

/* line 212, ../scss/_layout.scss */
.container.quotes {
  margin: 0 auto;
}
/* line 214, ../scss/_layout.scss */
.container.quotes .quotes_quote {
  position: relative;
  padding: 20px 120px 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 0 70px 0;
  width: 80%;
  float: right;
  background: #FFFFFF;
}
/* line 223, ../scss/_layout.scss */
.container.quotes .quotes_quote p {
  font-size: 28px;
  line-height: 34px;
}
/* line 226, ../scss/_layout.scss */
.container.quotes .quotes_quote p:before, .container.quotes .quotes_quote p:after {
  font-size: 60px;
  position: relative;
  color: #DDDDDD;
}
/* line 231, ../scss/_layout.scss */
.container.quotes .quotes_quote p:before {
  content: "«";
  top: -4px;
}
/* line 235, ../scss/_layout.scss */
.container.quotes .quotes_quote p:after {
  content: "»";
  bottom: -16px;
}
/* line 240, ../scss/_layout.scss */
.container.quotes .quotes_quote span {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: block;
  width: 100px;
  text-align: right;
  color: #999999;
}
/* line 249, ../scss/_layout.scss */
.container.quotes .quotes_quote:before, .container.quotes .quotes_quote:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 40px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 258, ../scss/_layout.scss */
.container.quotes .quotes_quote:before {
  bottom: -11px;
  background: rgba(0, 0, 0, 0.2);
}
/* line 262, ../scss/_layout.scss */
.container.quotes .quotes_quote:after {
  bottom: -10px;
  background: #FFFFFF;
}
/* line 266, ../scss/_layout.scss */
.container.quotes .quotes_quote:nth-child(odd) {
  float: left;
}
/* line 268, ../scss/_layout.scss */
.container.quotes .quotes_quote:nth-child(odd):before, .container.quotes .quotes_quote:nth-child(odd):after {
  left: 40px;
  right: auto;
}
/* line 274, ../scss/_layout.scss */
.container.quotes:after {
  content: "";
  display: block;
  clear: both;
  float: none;
}
