{% extends "project/base.html" %}
{% load i18n static %}
{% block content %}
    <div class="content">
        <div class="container">
            <h1>{% trans "Interrail" %}</h1>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="frame_quotes">
            <div class="container quotes">
                <div class="quotes_quote">
                    <p>
                        {% trans "An amazing experience!" %}
                    </p>
                    <span>{% trans "Emily, 24" %}</span>
                </div>
                <div class="quotes_quote">
                    <p>
                        {% trans "Interrail is the perfect opportunity to travel with a low budget." %}
                    </p>
                    <span>{% trans "Josh, 19" %}</span>
                </div>
                <div class="quotes_quote">
                    <p>
                        {% trans "Traveling with the train has unknown benefits." %}
                    </p>
                    <span>{% trans "Roman, 33" %}</span>
                </div>
            </div>
        </div>
        <div class="container">
            <h1>{% trans "Share your own journey" %}</h1>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
    </div>
{% endblock %}