{% load static i18n %}
<!DOCTYPE html>
<html class="page">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% trans "Interrail - Journey Blog" %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
        <meta name="description" content="A Blog for your Interrail Journey" />
        <meta name="keywords" content="Interrail, Journey, Blog" />
        <meta name="robots" content="noindex, nofollow">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% block header %}
            <header>
                {% include "project/includes/nav.html" %}
            </header>
        {% endblock %}

        {% block content %}

        {% endblock %}
        <footer>

        </footer>

        <script src="{% static 'js/libs/jquery.min.js' %}"></script>
        <script src="{% static 'js/project.js' %}"></script>
    </body>
</html>