{% extends "project/base.html" %}
{% load i18n static %}
{% block content %}
    <div class="content">
        <div class="container">
            <h1>{% trans "Experience" %}</h1>
        </div>
    </div>
{% endblock %}