{% extends "journey_blog/base.html" %}
{% load i18n %}
{% block content %}
    <div id="create">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Submit</button>
        </form>
    </div>
{% endblock %}