{% load i18n %}
<ul class="stops">
    {% for destination in journey.destinations.all %}
    <li class="stops_element{% if selected_destination and selected_destination.pk == destination.pk %} active{% endif %}">
        {% if forloop.counter != 1 %}
        <ul>
            {% for type in destination.types.all %}
                <li class="{{ type.name|lower }}">{{ type.name }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <a href="{% url "journey_detail_destination" journey.pk destination.pk %}">{{ destination.name }}</a>
    </li>
    {% endfor %}
</ul>