{% load i18n %}
<ul class="stops">
    {% for destination in journey.destinations.all %}
    <li class="stops_element{% if selected_destination and selected_destination.pk == destination.pk %} active{% endif %}">
        {% if forloop.counter != 1 %}
        <ul>
            {% for type in destination.types.all %}
                <li class="{{ type.name|lower }}">{{ type.name }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <a href="{% url "journey_update_destination" journey.pk destination.pk %}">{{ destination.name }}</a>
    </li>
    {% endfor %}
</ul>

<form action="{% if selected_destination %}{% url "journey_update_destination" journey.pk selected_destination.pk %}{% else %}{% url "journey_update" journey.pk %}{% endif %}" method="post">
    {% csrf_token %}
    <label class="title" for="{{ form.name.id_for_label }}">{% trans "Next Destination" %}:</label>
    <input{% if form.name.errors %} class="error" {% endif %} id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" type="text"{% if form.name.value %} value="{{ form.name.value }}"{% endif %}>
    <fieldset{% if form.types.errors %} class="error" {% endif %}>
        <ul>
            {% for type in form.types %}
            <li>
                {{ type.tag }}
                <label class="{{ type.choice_label|lower }}" for="{{ type.id_for_label }}">{{ type.choice_label }}</label>
            </li>
            {% endfor %}
        </ul>
    </fieldset>
    <button>{% trans "Add" %}</button>
</form>