{% extends "journey_blog/base.html" %}
{% load i18n %}
{% block content %}
    <div id="create">
        <form action="{% url "journey_create" %}" method="post">
            {% csrf_token %}
            <h1>{% trans "Share your own journey" %}</h1>
            {{ form.title.label_tag }}
            {{ form.title }}
            {{ form.description.label_tag }}
            {{ form.description }}
            <button>{% trans "Start" %}</button>
        </form>
    </div>
{% endblock %}