{% extends "journey_blog/base.html" %}
{% load i18n %}
{% block content %}
    <div id="editor">
        <header class="detail">
            <div class="actions left">
                <a class="abort" href="{% url "journey_list" %}">
                    {% trans "Close" %}
                </a>
                <a class="settings" href="#settings">
                    {% trans "Share" %}
                </a>
            </div>
            <h1>
                {{ journey.title }}
            </h1>
        </header>
        <aside class="detail">
            {% include "journey_blog/journey/includes/detail_destinations.html" %}
        </aside>
        <div class="update">
            <div class="content_container">
                {{ selected_destination.content|safe }}
            </div>
        </div>
    </div>
{% endblock %}