{% extends "journey_blog/base.html" %}
{% load i18n %}
{% block content %}
    <div id="editor">
        <header class="header_list">
            <nav>
                <ul>
                    <li>
                        <a href="{% url "about" %}">{% trans "About" %}</a>
                    </li>
                    <li>
                        <a href="{% url "tips_tricks" %}">{% trans "Tips & Tricks" %}</a>
                    </li>
                    <li>
                        <a href="{% url "experience" %}">{% trans "Experience" %}</a>
                    </li>
                    <li>
                        <a href="{% url "journey_list" %}">{% trans "Journeys" %}</a>
                    </li>
                </ul>
            </nav>
            <div class="actions right">
                {% if not journey.published %}
                <a href="#" class="login" data-action="login">
                    {% trans "Login" %}
                </a>
                {% endif %}
                <a href="#" class="passive register" data-action="register">
                    {% trans "Register" %}
                </a>
            </div>
        </header>
        <div class="list">
            <div class="list_frame">
                <div class="intro_header">
                    <ul>
                        <a href="{% url "journey_create" %}">{% trans "Share your own journey" %}</a>
                    </ul>
                </div>
                <ul class="list_journeys">
                    {% for journey in journeys %}
                        <li class="list_journeys_item">
                            <a href="{% url "journey_detail" journey.pk %}">
                                <h2>{{ journey.title }}</h2>
                                <p>{{ journey.description }}</p>
                                <ul>
                                    {% for destination in journey.destinations.all %}
                                        <li>{{ destination.name }}</li>
                                    {% endfor %}
                                </ul>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}