{% extends "journey_blog/base.html" %}
{% load i18n %}
{% block content %}
    <div id="editor">
        <header>
            <div class="actions left">
                <a class="abort" href="{% url "journey_list" %}">
                    {% trans "Abort" %}
                </a>
                <a class="settings" href="#settings">
                    {% trans "Settings" %}
                </a>
            </div>
            <h1>
                {{ journey.title }}
            </h1>
            <div class="actions right">
                {% if not journey.published %}
                <button class="publish" data-action="publish">
                    {% trans "Publish" %}
                </button>
                {% endif %}
                <button class="passive save" data-action="save">
                    {% trans "Save" %}
                </button>
            </div>
        </header>
        <aside>
            {% include "journey_blog/journey/includes/update_destinations.html" %}
        </aside>
        <div class="update">
            {% if content_form %}
                <form id="content_editor" action="{% if selected_destination %}{% url "journey_update_destination" journey.pk selected_destination.pk %}{% else %}{% url "journey_update" journey.pk %}{% endif %}" method="post">
                    {% csrf_token %}
                    <input id="id_published" name="published" type="checkbox">
                    {{ content_form.name }}
                    {{ content_form.types }}
                    {{ content_form.content }}
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}