@import "compass/css3";

*, *:after, *:before {
	@include box-sizing(border-box);
}

html {
    height: 100%;
}

body {
    font-family: $default-font-family;
    font-size: $default-font-size;
    height: 100%;
    .container {
        margin: 0 auto 80px auto;
        width: 80%;
        max-width: 800px;
    }
    h1 {
        font-size: 60px;
        line-height: 74px;
        margin: 0 0 30px 0;
    }
    h2 {
        font-size: 28px;
        line-height: 34px;
        margin: 0 0 10px 0;
    }
    p {
        margin: 0 0 20px 0;
        line-height: 20px;
        position: relative;
    }
}

header {
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 900;
    background: $dark_white;
    border-bottom: 1px solid rgba($black, 0.2);
    nav {
        display: block;
        width: 100%;
        ul {
            li {
                display: block;
                float: left;
                a {
                    display: block;
                    text-decoration: none;
                    text-align: center;
                    height: 60px;
                    line-height: 60px;
                    padding: 0 40px;
                    color: $black;
                    @include transition(border 0.2s);
                    &:hover {
                        border-bottom: 4px solid $interrail_primary;
                    }
                }
            }
            &:after {
                @include clear();
            }
        }
    }
    .actions.left {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: 59px;
        a {
            display: block;
            width: 184px;
            height: 59px;
            float: left;
            border-right: 1px solid $light_gray;
            line-height: 59px;
            padding: 0 20px;
            text-decoration: none;
            color: $black;
            font-size: 14px;
            text-transform: uppercase;
            &:hover {
                background: $white;
            }
        }
        .abort {
            width: 116px;
            padding: 0 20px 0 44px;
            position: relative;
            &:before, &:after {
                content: "";
                display: block;
                position: absolute;
                top: 28px;
                left: 20px;
                width: 16px;
                height: 2px;
                background: $dark_gray;
                @include transform(rotate(45deg));
            }
            &:after {
                @include transform(rotate(-45deg));
            }
        }
        &:after {
            @include clear();
        }
    }
    .actions.right {
        height: 60px;
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px 20px;
        button, a {
            display: block;
            text-decoration: none;
            line-height: 38px;
            height: 40px;
            padding: 0 30px;
            float: right;
            -webkit-appearance: none;
            border-radius: 4px;
            text-transform: uppercase;
            font-family: $default_font_family;
            font-size: 14px;
            border: 1px solid rgba(darken($interrail_primary, 30%), 0.3);
            background: $interrail_primary;
            color: $white;
            cursor: pointer;
            margin: 0 0 0 10px;
            &:focus {
                outline: none;
            }
            &:hover {
                background: lighten($interrail_primary, 5%);
            }
            &:active {
                background: darken($interrail_primary, 5%);
            }
        }
        .passive {
            border: 1px solid rgba(darken($gray, 30%), 0.3);
            background: $dark_white;
            color: $black;
            margin: 0;
            &:hover {
                background: $white;
            }
            &:active {
                background: darken($white, 5%);
            }
        }
    }
    h1 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 60px;
        line-height: 60px;
        padding-left: 20px;
        font-weight: bold;
    }
    &.detail {
        padding: 0 0 0 300px;
        h1 {
            padding: 0 20px;
        }
    }
    &.header_list {
        padding: 0 320px 0 0;
    }
}

.content {
    margin: 160px 0;
}

.container.tips {
    .tips_tip {
        width: 100%;
        position: relative;
        padding: 0 200px 0 0;
        margin: 0 0 50px 0;
        h2 {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 180px;
            text-align: right;
            color: $gray;
        }
    }
}

.frame_quotes {
    background: image_url("train.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px 0 40px 0;
    margin: 140px 0 100px 0;
}
.container.quotes {
    margin: 0 auto;
    .quotes_quote {
        position: relative;
        padding: 20px 120px 10px 20px;
        border-radius: 10px;
        border: 1px solid rgba($black, 0.2);;
        margin: 0 0 70px 0;
        width: 80%;
        float: right;
        background: $white;
        p {
            font-size: 28px;
            line-height: 34px;
            &:before, &:after {
                font-size: 60px;
                position: relative;
                color: $light_gray;
            }
            &:before {
                content: "«";
                top: -4px;
            }
            &:after {
                content: "»";
                bottom: -16px;
            }
        }
        span {
            position: absolute;
            right: 20px;
            bottom: 20px;
            display: block;
            width: 100px;
            text-align: right;
            color: $gray;
        }
        &:before, &:after {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 40px;
            @include transform(rotate(45deg));
        }
        &:before {
            bottom: -11px;
            background: rgba($black, 0.2);;
        }
        &:after {
            bottom: -10px;
            background: $white;
        }
        &:nth-child(odd) {
            float: left;
            &:before, &:after {
                left: 40px;
                right: auto;
            }
        }
    }
    &:after {
        @include clear();
    }
}